# IDEs and Environments
.idea/
.venv/
.vscode/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.log

.idea/workspace.xml
reports/

.code-review-graph/
.claude/
.kiro/
.opencode.json
.mcp.json

skill/
